In [85]:
import pandas as pd

In [111]:
df1 = pd.read_csv('../../data/Abreed_and_non_breed_post_manual_fix_of_mult_coord.csv')
df2 = pd.read_csv('../../data/Abreed_and_non_breed_post_manual_fix_of_mult_coord_RC.csv')

C:\Users\Ron Chen\AppData\Local\Temp\ipykernel_22356\1469092141.py:2: DtypeWarning: Columns (8,29,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('../../data/Abreed_and_non_breed_post_manual_fix_of_mult_coord_RC.csv')

In [112]:
# Find common columns between the two dataframes
common_columns = set(df1.columns) & set(df2.columns)
# Convert the set to a list before using it as an indexer
df1 = df1[list(common_columns)]
# reorder the columns in df1 to match the order in df2
df1 = df1[df2.columns]

In [113]:
# sort both dataframes accounting for possible NAs
sort_cols = ['year', 'unit', 'point_name', 'date', 'time', 'SciName', 'protocol', 'date']
df1 = df1.sort_values(by=sort_cols, na_position='last')
df2 = df2.sort_values(by=sort_cols, na_position='last')

In [114]:
# round coordinates to 6 decimal places
df1['lat'] = df1['lat'].round(6)
df1['lon'] = df1['lon'].round(6)
df2['lat'] = df2['lat'].round(6)
df2['lon'] = df2['lon'].round(6)

In [115]:
prob_cols = {'date','monitors_name'}
ok_cols = common_columns-prob_cols

In [116]:
# find which rows exist just in one of the dataframes vs. both
merged = df1.merge(df2,
                   how='outer',
                   on=list(ok_cols),
                   indicator=True)

In [117]:
# filter merged to print the number of rows in both dataframes, unique to df1 and unique to df2
print("Number of rows in both dataframes:", merged[merged['_merge'] == 'both'].shape[0])
print("Number of rows unique to df1:", merged[merged['_merge'] == 'left_only'].shape[0])
print("Number of rows unique to df2:", merged[merged['_merge'] == 'right_only'].shape[0])

Number of rows in both dataframes: 17014
Number of rows unique to df1: 25
Number of rows unique to df2: 25

In [118]:
only_in_df1 = merged[merged['_merge']=='left_only']
only_in_df2 = merged[merged['_merge']=='right_only']

print(only_in_df1)

                      SciName campaign  year  season                  unit  \
1666               Apus melba       T3  2019  Spring  Mediterranean Maquis
1669             Cettia cetti       T3  2019  Spring  Mediterranean Maquis
1678      Clamator glandarius       T2  2017  Spring  Mediterranean Maquis
1682            Columba livia       T1  2015  Spring  Mediterranean Maquis
1687            Corvus cornix       T2  2017  Spring  Mediterranean Maquis
1690            Corvus cornix       T1  2015  Spring  Mediterranean Maquis
1701      Garrulus glandarius       T1  2015  Spring  Mediterranean Maquis
1709              Parus major       T1  2015  Spring  Mediterranean Maquis
1712  Phoenicurus phoenicurus       T3  2019  Spring  Mediterranean Maquis
1724    Streptopelia decaocto       T2  2017  Spring  Mediterranean Maquis
1741            Cinnyris osea       T1  2015  Spring  Mediterranean Maquis
1748    Curruca melanocephala       T2  2017  Spring  Mediterranean Maquis
1766   Pycnonotus xanthopygos       T1  2015  Spring  Mediterranean Maquis
1778    Streptopelia decaocto       T1  2015  Spring  Mediterranean Maquis
1782  Troglodytes troglodytes       T3  2019  Spring  Mediterranean Maquis
1804      Garrulus glandarius       T2  2017  Spring  Mediterranean Maquis
1827         Alectoris chukar       T3  2019  Spring  Mediterranean Maquis
1848      Garrulus glandarius       T3  2019  Spring  Mediterranean Maquis
1859            Cinnyris osea       T3  2019  Spring  Mediterranean Maquis
1866  Troglodytes troglodytes       T1  2015  Spring  Mediterranean Maquis
1868            Turdus merula       T3  2019  Spring  Mediterranean Maquis
1870            Turdus merula       T2  2017  Spring  Mediterranean Maquis
1906          Curruca ruppeli       T1  2015  Spring  Mediterranean Maquis
1924    Curruca melanocephala       T3  2019  Spring  Mediterranean Maquis
1927            Turdus merula       T1  2015  Spring  Mediterranean Maquis

     subunit       site           point_name habitat        lon  ...  dunes  \
1666  Carmel  Beit Oren      Beit Oren Far 9     NaN  34.999244  ...    NaN
1669  Carmel  Beit Oren      Beit Oren Far 9     NaN  34.999244  ...    NaN
1678  Carmel  Beit Oren      Beit Oren Far 8     NaN  35.015731  ...    NaN
1682  Carmel  Beit Oren  Beit Oren Far 9 new     NaN  35.018083  ...    NaN
1687  Carmel  Beit Oren      Beit Oren Far 8     NaN  35.015731  ...    NaN
1690  Carmel  Beit Oren  Beit Oren Far 9 new     NaN  35.018083  ...    NaN
1701  Carmel  Beit Oren  Beit Oren Far 9 new     NaN  35.018083  ...    NaN
1709  Carmel  Beit Oren  Beit Oren Far 9 new     NaN  35.018083  ...    NaN
1712  Carmel  Beit Oren      Beit Oren Far 9     NaN  34.999244  ...    NaN
1724  Carmel  Beit Oren      Beit Oren Far 8     NaN  35.015731  ...    NaN
1741  Carmel  Beit Oren  Beit Oren Far 9 new     NaN  35.018083  ...    NaN
1748  Carmel  Beit Oren      Beit Oren Far 8     NaN  35.015731  ...    NaN
1766  Carmel  Beit Oren  Beit Oren Far 9 new     NaN  35.018083  ...    NaN
1778  Carmel  Beit Oren  Beit Oren Far 9 new     NaN  35.018083  ...    NaN
1782  Carmel  Beit Oren      Beit Oren Far 9     NaN  34.999244  ...    NaN
1804  Carmel  Beit Oren      Beit Oren Far 8     NaN  35.015731  ...    NaN
1827  Carmel  Beit Oren      Beit Oren Far 9     NaN  34.999244  ...    NaN
1848  Carmel  Beit Oren      Beit Oren Far 9     NaN  34.999244  ...    NaN
1859  Carmel  Beit Oren      Beit Oren Far 9     NaN  34.999244  ...    NaN
1866  Carmel  Beit Oren  Beit Oren Far 9 new     NaN  35.018083  ...    NaN
1868  Carmel  Beit Oren      Beit Oren Far 9     NaN  34.999244  ...    NaN
1870  Carmel  Beit Oren      Beit Oren Far 8     NaN  35.015731  ...    NaN
1906  Carmel  Beit Oren  Beit Oren Far 9 new     NaN  35.018083  ...    NaN
1924  Carmel  Beit Oren      Beit Oren Far 9     NaN  34.999244  ...    NaN
1927  Carmel  Beit Oren  Beit Oren Far 9 new     NaN  35.018083  ...    NaN

     land_use interaction  protocol.version  established  SPECIES_CODE  \
1666      NaN         NaN               NaN          NaN       alpswi1
1669      NaN         NaN               NaN          NaN       cetwar1
1678      NaN         NaN               NaN          NaN       grscuc1
1682      NaN         NaN               NaN          NaN        rocpig
1687      NaN         NaN               NaN          NaN       hoocro1
1690      NaN         NaN               NaN          NaN       hoocro1
1701      NaN         NaN               NaN          NaN       eurjay1
1709      NaN         NaN               NaN          NaN       gretit1
1712      NaN         NaN               NaN          NaN       comred2
1724      NaN         NaN               NaN          NaN        eucdov
1741      NaN         NaN               NaN          NaN       palsun2
1748      NaN         NaN               NaN          NaN       sarwar1
1766      NaN         NaN               NaN          NaN       whsbul1
1778      NaN         NaN               NaN          NaN        eucdov
1782      NaN         NaN               NaN          NaN       winwre4
1804      NaN         NaN               NaN          NaN       eurjay1
1827      NaN         NaN               NaN          NaN        chukar
1848      NaN         NaN               NaN          NaN       eurjay1
1859      NaN         NaN               NaN          NaN       palsun2
1866      NaN         NaN               NaN          NaN       winwre4
1868      NaN         NaN               NaN          NaN        eurbla
1870      NaN         NaN               NaN          NaN        eurbla
1906      NaN         NaN               NaN          NaN       ruewar1
1924      NaN         NaN               NaN          NaN       sarwar1
1927      NaN         NaN               NaN          NaN        eurbla

      count_under_250 date_y monitors_name_y     _merge
1666                1    NaN             NaN  left_only
1669                1    NaN             NaN  left_only
1678                1    NaN             NaN  left_only
1682                1    NaN             NaN  left_only
1687                1    NaN             NaN  left_only
1690                1    NaN             NaN  left_only
1701                1    NaN             NaN  left_only
1709                1    NaN             NaN  left_only
1712                1    NaN             NaN  left_only
1724                1    NaN             NaN  left_only
1741                2    NaN             NaN  left_only
1748                2    NaN             NaN  left_only
1766                2    NaN             NaN  left_only
1778                2    NaN             NaN  left_only
1782                2    NaN             NaN  left_only
1804                4    NaN             NaN  left_only
1827                8    NaN             NaN  left_only
1848                1    NaN             NaN  left_only
1859                3    NaN             NaN  left_only
1866                3    NaN             NaN  left_only
1868                3    NaN             NaN  left_only
1870                3    NaN             NaN  left_only
1906               11    NaN             NaN  left_only
1924               24    NaN             NaN  left_only
1927                7    NaN             NaN  left_only

[25 rows x 43 columns]