In [2]:
import pandas as pd

In [ ]:
trait_shallow = pd.read_csv(
    "../data/20231228_BirdSpeciesTraitTable_SingleHeader_shallow.csv",
    encoding="Windows-1255",
)

In [8]:
trait_shallow.head()

,SCI_NAME,TAXON_ORDER,CATEGORY,SPECIES_CODE,PRIMARY_COM_NAME,ORDER1,FAMILY,SPECIES_GROUP,REPORT_AS,HebName,...,DietType._Invertebrates,DietType._Terrestrial.vertebrates,DietType._Scavenger,ForagingGround_Land,ForagingGround_Trees.and.bushes,ForagingGround_Air,ForagingGround_Water,Mass..g.,HabitatCondensed,Reference
0,Streptopelia roseogrisea,2037,species,afcdov1,African Collared-Dove,Columbiformes,Columbidae (Pigeons and Doves),Pigeons and Doves,NaN,תור צווארון אפריקני,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Crex egregia,5241,species,afrcra1,African Crake,Gruiformes,"Rallidae (Rails, Gallinules, and Coots)","Rails, Gallinules, and Allies",NaN,מלכישליו אפריקני,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rynchops flavirostris,6684,species,afrski1,African Skimmer,Charadriiformes,"Laridae (Gulls, Terns, and Skimmers)","Gulls, Terns, and Skimmers",NaN,גיזרן אפריקני,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Prunella collaris,30832,species,alpacc1,Alpine Accentor,Passeriformes,Prunellidae (Accentors),Accentors,NaN,סתרי צוקים,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Apus melba,4024,species,alpswi1,Alpine Swift,Caprimulgiformes,Apodidae (Swifts),Swifts,NaN,סיס הרים,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,71.5,generalist,NaN

In [9]:
trait_shallow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 75 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   SCI_NAME                                   40 non-null     object
 1   TAXON_ORDER                                40 non-null     int64
 2   CATEGORY                                   40 non-null     object
 3   SPECIES_CODE                               40 non-null     object
 4   PRIMARY_COM_NAME                           40 non-null     object
 5   ORDER1                                     40 non-null     object
 6   FAMILY                                     40 non-null     object
 7   SPECIES_GROUP                              40 non-null     object
 8   REPORT_AS                                  1 non-null      object
 9   HebName                                    40 non-null     object
 10  AlienInvasive                              40 non-null     int64
 11  Synanthrope                                40 non-null     int64
 12  NativeInvasive                             40 non-null     int64
 13  ConservationStatusWorld                    40 non-null     object
 14  ConservationCodeWorld                      40 non-null     object
 15  ConservationStatusIL2002                   40 non-null     object
 16  ConservationCodeIL2002                     11 non-null     object
 17  ConservationStatusIL2018                   40 non-null     object
 18  ConservationCodeIL2018                     11 non-null     object
 19  ConservationChange                         40 non-null     object
 20  PresenceIL                                 34 non-null     object
 21  Resident                                   34 non-null     float64
 22  BreedingIL                                 40 non-null     int64
 23  MigrationType._resident                    9 non-null      float64
 24  MigrationType._Long.range.migrant          9 non-null      float64
 25  MigrationType._short.range.semi.migrant    9 non-null      float64
 26  MigrationType._nomadic                     9 non-null      float64
 27  ZoogeoZone._Mediterranean.                 9 non-null      float64
 28  ZoogeoZone._Irano.Turanian                 9 non-null      float64
 29  ZoogeoZone._Sudanese                       9 non-null      float64
 30  ZoogeoZone._Alpine                         9 non-null      float64
 31  ZoogeoZone._Saharo.Arabian.                9 non-null      float64
 32  LandscapeFormation_wet.Habitat             9 non-null      float64
 33  LandscapeFormation_wide.wadis              9 non-null      float64
 34  LandscapeFormation_rural.landscape         9 non-null      float64
 35  LandscapeFormation_Plains.and.Valleys      9 non-null      float64
 36  LandscapeFormation_Mountainous.area        9 non-null      float64
 37  LandscapeFormation_cliffs                  9 non-null      float64
 38  LandscapeFormation_rocks.and.stony.ground  9 non-null      float64
 39  LandscapeFormation_Urban.space             9 non-null      float64
 40  LandscapeFormation_Sand.dunes              9 non-null      float64
 41  VegetationFormation_reedbed.and.sedges.    5 non-null      float64
 42  VegetationFormation_gardens.and.parks.     5 non-null      float64
 43  VegetationFormation_etsiya.park_forest     5 non-null      float64
 44  VegetationFormation_forest                 5 non-null      float64
 45  VegetationFormation_Mediterranean.Maquis   5 non-null      float64
 46  VegetationFormation_low.shrubland.         5 non-null      float64
 47  VegetationFormation_herbaceous             5 non-null      float64
 48  VegetationFormation_high.shrubland         5 non-null      float64
 49  VegetationFormation_plantations            5 non-null      float64
 50  VegetationFormation_field.crops.           5 non-null      float64
 51  VegetationDensity._High                    9 non-null      float64
 52  VegetationDensity._Medium                  9 non-null      float64
 53  VegetationDensity._Low                     9 non-null      float64
 54  nest_location_trees                        9 non-null      float64
 55  nest_location_bushes                       9 non-null      float64
 56  nest_location_cliffs                       9 non-null      float64
 57  nest_location_ground                       9 non-null      float64
 58  nest_location_ruins.                       9 non-null      float64
 59  nest_location_dirt.cliffs                  9 non-null      float64
 60  nest_location_reedbed.and.sedges           9 non-null      float64
 61  nest_location_buildings                    9 non-null      float64
 62  DietType._Omnivore                         13 non-null     float64
 63  DietType._Herbivore                        13 non-null     float64
 64  DietType._Fish                             13 non-null     float64
 65  DietType._Invertebrates                    13 non-null     float64
 66  DietType._Terrestrial.vertebrates          13 non-null     float64
 67  DietType._Scavenger                        13 non-null     float64
 68  ForagingGround_Land                        12 non-null     float64
 69  ForagingGround_Trees.and.bushes            12 non-null     float64
 70  ForagingGround_Air                         12 non-null     float64
 71  ForagingGround_Water                       12 non-null     float64
 72  Mass..g.                                   13 non-null     float64
 73  HabitatCondensed                           10 non-null     object
 74  Reference                                  2 non-null      object
dtypes: float64(51), int64(5), object(19)
memory usage: 23.6+ KB

In [ ]:
tax_full = pd.read_csv("../data/ebird_taxonomy_v2022.csv", encoding="utf-8")

In [14]:
tax_full.head()

,SCIENTIFIC_NAME,TAXON_ORDER,CATEGORY,SPECIES_CODE,PRIMARY_COM_NAME,ORDER,FAMILY,REPORT_AS,HebName
0,Passer hemileucus,30925,species,aakspa1,Abd al Kuri Sparrow,Passeriformes,Passeridae,NaN,Abd al Kuri Sparrow
1,Malacocincla abbotti,25751,species,abbbab1,Abbott's Babbler,Passeriformes,Pellorneidae,NaN,Abbott's Babbler
2,Papasula abbotti,7124,species,abbboo2,Abbott's Booby,Suliformes,Sulidae,NaN,Abbott's Booby
3,Arizelopsar femoralis,27349,species,abbsta2,Abbott's Starling,Passeriformes,Sturnidae,NaN,Abbott's Starling
4,Horornis flavolivaceus,24636,species,abbwar1,Aberrant Bush Warbler,Passeriformes,Scotocercidae,NaN,Aberrant Bush Warbler

In [15]:
tax_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16860 entries, 0 to 16859
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SCIENTIFIC_NAME   16860 non-null  object
 1   TAXON_ORDER       16860 non-null  int64
 2   CATEGORY          16860 non-null  object
 3   SPECIES_CODE      16860 non-null  object
 4   PRIMARY_COM_NAME  16860 non-null  object
 5   ORDER             16858 non-null  object
 6   FAMILY            16847 non-null  object
 7   REPORT_AS         3794 non-null   object
 8   HebName           16860 non-null  object
dtypes: int64(1), object(8)
memory usage: 1.2+ MB

In [37]:
# perform a left join between tax_full and trait_shallow
tax_shallow = tax_full.merge(
    trait_shallow["SPECIES_CODE"],
    how="inner",
    on="SPECIES_CODE")

In [39]:
tax_shallow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SCIENTIFIC_NAME   40 non-null     object
 1   TAXON_ORDER       40 non-null     int64
 2   CATEGORY          40 non-null     object
 3   SPECIES_CODE      40 non-null     object
 4   PRIMARY_COM_NAME  40 non-null     object
 5   ORDER             40 non-null     object
 6   FAMILY            40 non-null     object
 7   REPORT_AS         2 non-null      object
 8   HebName           40 non-null     object
dtypes: int64(1), object(8)
memory usage: 2.9+ KB

In [41]:
unmatched_rows = pd.merge(
    trait_shallow,
    tax_full,
    how="left",
    on="SPECIES_CODE",
    indicator=True,
)
unmatched_rows = unmatched_rows[unmatched_rows["_merge"] == "left_only"]

In [42]:
unmatched_rows.iloc[:,0:10]

Empty DataFrame
Columns: [SCI_NAME, TAXON_ORDER_x, CATEGORY_x, SPECIES_CODE, PRIMARY_COM_NAME_x, ORDER1, FAMILY_x, SPECIES_GROUP, REPORT_AS_x, HebName_x]
Index: []

In [43]:
tax_shallow.to_csv("../data/ebird_taxonomy_v2022_shallow.csv", encoding="utf-8", index=False)